body {
  font-family: 'Noto Sans';
  background-color: #17191a;
}

.main-container {
  width: 100%;
}

.flex-container {
  width: 100%;
  display: flex;
  background-color: black;
  height: 100px;
}

#header-image {
  margin: auto;
}

.image-container {
  width: 180px;
  height: 180px;
  margin: auto;
}

.banner-title {
  color: #e8e6e3;
  font-size: 3em;
  text-align: center;
  padding-bottom: 2%;
}

.banner-subtitle {
  color: #e8e6e3;
  font-size: 2em;
  text-align: center;
  width: 600px;
  margin: auto;
}
.button{
    border: none !important;
    border-radius: 30px !important;
    color: white !important;
    padding: 15px 32px !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    font-family: 'Noto Sans' !important;
    margin-top: 15% !important;
    transition: 0.3s !important;
    width: 210px !important;
}
#button1{
    background-color: #fd3114 !important;
}
#button2{
    background-color: #121212 !important;
}
.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
    color: #efefef !important;
    margin-top: 12% !important;
    margin-bottom: 15% !important;
}
